


.about {
    background-color: rgba(244, 246, 252, 0.5);

    &__wrapper {
        min-height: 506px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        width: 327px;

        h3 {
            font-size: 38px;
            line-height: 56px;
            font-weight: 600;
            color: rgba(40, 41, 56, 1);
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: rgba(40, 41, 56, 1);
        }
    }

    &__right {
        width: 843px;

        h4 {
            font-size: 32px;
            line-height: 48px;
            font-weight: 500;
            color: rgba(40, 41, 56, 1);
            margin-bottom: 48px;
        }

        .right-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (max-width: 1220px) {
    .about {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}