


.wrapper-2 {
    display: flex;
    justify-content: space-between;
    padding: 96px;
    background-color: rgba(244, 245, 245, 1);

    &__info {
        h3 {
            font-size: 38px;
            line-height: 56px;
            font-weight: 500;
            color: rgba(40, 41, 56, 1);
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: rgba(40, 41, 56, 1);
            max-width: 515px;
        }
    }
}